.vk-blog-detail__brief img{
	max-width: 100%;
	height: auto
}

.pagination{
    /*text-align: center;*/
    /*float: right;*/
    /*display: flex;*/
    justify-content: center;
}
.pagination li{
    display: inline-block;
    margin-right: 0px;
    padding: 0 5px;
    /*border: 1px solid #6d2c2c;*/
}
.pagination li span, .pagination li a{
    font-size: 16px;
    /*font-weight: 600;*/
    color: #000;
    border: 0;
    border: 1px solid #f1f1f1;
    width: 30px;
    height: 30px;
    display: flex;
    border-radius: 3px;
    background: #dddddd;
    /*line-height: 35px;*/
    justify-content: center;
    align-items: center;
    /*margin-right: 5px;*/
}
/*.pagination li a{
    border-color: #409e03;
}*/
.pagination li.active span, .pagination li a:hover{
    background: #177c59 !important;
    border-color: #177c59;
    color: #fff !important;
}
.pagination li.disabled span{
    color: #177c59;
}
.pagination li:last-child a{
    color: #177c59 !important;
    font-weight: normal;
}
.pagination li:last-child a:hover, .pagination li:first-child a:hover{
    background: #177c59 !important;
    color: #fff !important;
}